body {
  background-color: AliceBlue;
}


h1 {
  color: CornflowerBlue;
  font-size: 60px;
  margin: 100px 20px;
  text-align: center;
}

p {
  color: CornflowerBlue;
  display: inline-block;
  font-size: 24px;
  margin: 0 20px;
}

a {
  display: block;
  margin: auto;
  text-align: center;
}

.button {
  background-color: AliceBlue;
  border: 2px solid CornflowerBlue;
  border-radius: 6px;
  color: CornflowerBlue; 
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  padding: 15px;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: CornflowerBlue;
  color: white;
}