body {
  background-color: Lavender;
}

h1 {
  color: RebeccaPurple;
  margin-left: 20px;
}

button {
  border-color: MediumPurple;
  color: RebeccaPurple;
  margin-left: 20px;
}

.button:hover {
  background-color: MediumPurple;
  color: white;
}
